.messenger {
    height: calc(100vh - 70px);
    display: flex;
  }
  
  .chatMenu {
    flex: 3.5;
  }
  
  .chatMenuInput {
    width: 85%;
    padding: 10px 0;
    border: none;
    border: 1px solid #646FD4;
    padding-left: 10px;
    margin-right: 3px;
    border-radius: 3px;
  }
  .chatMenuInput:focus{
    outline: none;
  }
  .chatBox {
    flex: 5.5;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
  }
  .chatMessageInput:focus{
    outline: none;
  }
  .hrLine{
    margin-top: 10px;
    margin-bottom: 10px;
    width:90%;
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  .chatBoxWrapper{
    padding: 10px;
    height: 100%;
  }
  
  .noConversation {
    position: absolute;
    top: 10%;
    left:5px;
    font-size: 48px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      flex: 1px;
    }
  }

  .rs1{
    overflow-y:scroll;  
    max-height:300px;
    width: 90%;
    margin-top: 5px;
  }
  .searchImage1{
    width: 40px;
    height:40px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}
 .dataResult1{   
    display: flex;
    flex-direction: column;
    background-color:white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.alertText{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.searchResult1{
    display: flex;
    align-items: center;
   justify-content: space-between;
} 
.searchResultItem1{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.ConvoIcon{
  margin-right: 15px;
  cursor: pointer;
}
.convoText{
  color: #2538df;
  margin-top: 10px;
}
.convoText1{
  color: #2538df;
  margin-right: 50px;
  width:100%;
}

.onlineuser{
  display:flex;
  align-items: center;
   margin-top: 40px;
}